.popup {
    position: absolute;
    background-color: rgb(226, 222, 222);
    border: 1px solid black;
    padding: 10px;
    width: 475px;
}

.list-of-recipes {
    border-bottom: 2px dotted;
    font-weight: bold;
    font-family: sans-serif;
}